


@media only screen and (max-width: 800px)
{

    /* Force table to not be like tables anymore */
    #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr
    {
        display: block;
        font-weight: bold;
        font-family: Tahoma;
        font-size: 10px;
        color: Black;
        height: 30px;
        background-color: #EEE;
        border-style: solid;
        border-width: 1px;
        border-color: Black;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr
    {
        border: 1px solid #ccc;
    }

    #no-more-tables td
    {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: center;
    }

    #no-more-tables td:before
    {
        /* Now like a table header */
        position: absolute; /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: center;
        font-weight: normal;
    }

    #Title
    {
        border-style: solid;
        border-width: 1px;
        border-color: Black;
    }

    #content
    {
        font-family: B Nazanin;
        font-size: 12px;
        background-color: #EEE;
        border-style: solid;
        border-width: 1px;
        border-color: Black;
        text-align: center;
    }


